@import "variables";

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;

  .title {
    font-size: 30px;
    font-weight: $font-400;
    font-family: $font-family-Arial;
    text-align: center;
  }
}
